// Input Toggles
// =============


@warn '`accoutrement-input-toggle` is no longer being maintained, and will be removed';


// Is Checked
// ----------
// Add styles when an input is checked
@mixin is-checked {
  &:checked { @content; }
}


// Toggle
// ------
// Create
@mixin is-toggle {
  @include is-hidden;
  @include is-checked { @content; }
}
